@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500;700&display=swap');

@mixin rowBG {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 19px -8px rgb(255, 255, 255);
}

@mixin colorWhite {
  color: #474747;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

.App {
  height: 100vh;
  position: relative;

  ul {
    margin-bottom: 0em !important;
  }

  .cameraBox {
    display: flex;
    align-items: center;

    .cameraHeading {
      margin-right: 15px;
    }
  }

  .cameraSwitch {
    border: 1px solid #d0d0d0;
    border-radius: 15px;
    width: 140px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .stream {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1000;
  }


  .upperRow {
    @include colorWhite;;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    @include rowBG;
    z-index: 1010;

    .ant-input {
      background: none;
      @include colorWhite;;
      max-width: 60px;
      text-align: center;
      border: none;
    }

    span.ant-radio + * {
      padding-right: 0;
    }

    .autoButton {
      background: #FFFFFF;
      border-radius: 8px;
      color: black;
    }

    .ant-radio-wrapper {
      @include colorWhite;
      margin-right: 0 !important;
    }

    .cameraSettings_features {
      display: flex;
      align-items: center;

      li {
        margin: 0 10px;

        .autoIcon {
          margin-rigt: 25px;
        }
      }

      .autoIcon {
        margin-right: 5px;
      }

      div {
        margin: 0 5px;
      }

      .ant-btn {
        border: none;
        background: none;
      }

      svg {
        fill: #727272;
      }
    }

    li {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  .bottomRow {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: space-around;
    padding: 10px;
    @include rowBG;
    z-index: 1010;

    div {
      display: flex;
      align-items: center;
    }

    span {
      @include colorWhite;;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }

    img {
      width: 32px;
      margin-right: 10px;
    }

    .recordStatus {
      font-size: 25px;
      @include colorWhite;;
      margin-left: 10px;
    }
  }
}